<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.xfinity.ceylon_steel"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:screenOrientation="portrait"
                 android:theme="@android:style/Theme.Holo.Light">
        <service android:name=".service.Tracker"/>
        <activity android:name=".activity.StartingActivity" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginActivity" android:label="Sign In to Sales Pad">
        </activity>
        <activity android:name=".activity.HomeActivity" android:label="Home">
        </activity>
        <activity android:name=".activity.attendance.AttendanceActivity" android:label="Attendance">
        </activity>
        <activity android:name=".activity.make_sales_order.MakeSalesOrderActivity" android:label="Make Sales Orders">
        </activity>
        <activity android:name=".activity.view_sales_order.ViewSalesOrderActivity" android:label="View Sales Orders">
        </activity>
        <activity android:name=".activity.unproductive_call.UnProductiveCallActivity" android:label="Un Productive Call">
        </activity>
        <activity android:name=".activity.unproductive_call.MakeUnProductiveCallActivity" android:label="Make Un Productive Call">
        </activity>
        <activity android:name=".activity.unproductive_call.MadeUnProductiveCallActivity" android:label="Select Un Productive Call">
        </activity>
        <activity android:name=".activity.unproductive_call.ViewUnProductiveCallActivity" android:label="View Un Productive Call">
        </activity>
        <activity android:name=".activity.make_sales_order.MakeConsignmentSalesOrderActivity" android:label="Make Consignment Sales Order">
        </activity>
        <activity android:name=".activity.make_sales_order.MakeDirectSalesOrderActivity" android:label="Make Direct Sales Order">
        </activity>
        <activity android:name=".activity.make_sales_order.MakeProjectSalesOrderActivity" android:label="Make Project Sales Order">
        </activity>
        <activity android:name=".activity.make_sales_order.MakeDirectProjectSalesOrderActivity" android:label="Make Direct Project Sales Order">
        </activity>
        <activity android:name=".activity.view_sales_order.MadeConsignmentSalesOrderActivity" android:label="Select Consignment Sales Order">
        </activity>
        <activity android:name=".activity.view_sales_order.MadeDirectSalesOrderActivity" android:label="Select Direct Sales Order">
        </activity>
        <activity android:name=".activity.view_sales_order.MadeProjectSalesOrderActivity" android:label="Select Project Sales Order">
        </activity>
        <activity android:name=".activity.view_sales_order.ViewConsignmentSalesOrderActivity" android:label="View Consignment Sales Order">
        </activity>
        <activity android:name=".activity.view_sales_order.ViewDirectSalesOrderActivity" android:label="View Direct Sales Order">
        </activity>
        <activity android:name=".activity.view_sales_order.ViewProjectSalesOrderActivity" android:label="View Project Sales Order">
        </activity>
        <activity android:name=".activity.make_sales_order.SelectCategoryActivity" android:label="Select Items">
        </activity>
        <activity android:name=".activity.make_sales_order.EnterItemDetailActivity" android:label="Enter Item Details">
        </activity>
        <activity android:name=".activity.view_sales_order.ViewItemDetailActivity" android:label="View Item Details">
        </activity>
        <activity android:name=".activity.payment.PaymentActivity" android:label="Payments" android:screenOrientation="landscape">
        </activity>
    </application>
</manifest>
